
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=divice-width, initial-scale=1.0">
        <title>Signup</title>

        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='index.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark primary-color justify-content-center" style="background-color: #d56f6f;">

            <a class="navbar-brand" href="index">
                <img src="/static/img/Logo1.png" alt="Logo" style="width: 60px; height: 60px;">
            </a>

            <div>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="index">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="signup">Registration</a>
                    </li>

                </ul>
            </div>

        </nav>


        <div class="contianer heading p-5 font:30px">

            <div class="heading--login">

                <form action="{{ url_for('signup') }}" method="post" class="text-center border-light p-5">

                    <p class="h1 mb-4">Registration Form:</p>

                    <input class="form-control mb-4" type="name" name="Fullname" placeholder="Enter Your Full Name" required>
                    <input class="form-control mb-4" type="name" name="Username" placeholder="Enter Your User Name" required>
					<input class="form-control mb-4" type="email" name="Email"  placeholder="Enter Your Email" required>                    
                    <input  class="form-control mb-4" type="password" name="Password"  maxlength="10" placeholder="Password" required>
                    
                   
                    <button class="btn btn-info btn-block  my-4" type="submit">Sign Up</button>

                    <!-- Login -->
                    <p class="h3 mb-4">Have an account?
                        <a class="h2 mb-4" href="login">Login</a>
                    </p>

                </form>


                <h5 class="text-center w-75 p-3 mx-auto font-weight-bold" style="color: rgb(24, 5, 46);" >{{ Signupmessage }}</h5>


            </div>

        </div>



    </body>
</html>
